<h1>Member Details</h1>

<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Age: <%= @member.age %></p>
<p>Email: <%= @member.email%></p>

<a href="/members/<%= @member.id %>/edit">Edit Details</a>

<hr />
<a href="/members/<%= @member.id %>/bookings">Sessions Booked</a>
<hr />

<form action="/members/<%= @member.id %>/delete" method="post" >
  <input type="submit" value="Delete Member">
</form>
