<h1>All Sessions</h1>
<div class="session">

<p><a href="/sessions/new">Create New Session</a></p>

<% for session in @sessions %>
<p>Workshop: <%= session.workshop.type %></p>
<p>Instructor: <%= session.workshop.instructor %></p>
<p>Start Date: <%= session.start_date %></p>
<p>Start Time:<%= session.start_time %></p>
<p>Capacity: <%= session.capacity %></p>

<a href="/sessions/<%= session.id %>/edit"> Edit Session</a>

<a href="/sessions/<%= session.id %>/bookings">Manage Bookings</a>
<form action="/sessions/<%=session.id%>/delete" method="post">
  <input type="submit" value="Delete Session">
</form>
<hr />
<% end %>

</div>
